<nav id="main-navbar" class="navbar navbar-light bg-faded" *ngIf="!isRoute('/')">
  <a class="navbar-brand" href="/">Getty Image Search</a>
  <form id="search-form" class="form-inline float-xs-right" (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <div class="input-group">
        <input type="text" name="search-term" class="form-control" [(ngModel)]="searchTerm" placeholder="Please insert search term ...">
        <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
  </form>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>