<div class="sk-cube-grid" *ngIf='!image'>
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>

<div class="row" *ngIf="image">
    <div class="col-md-6">
        <div class="card">
            <img class="card-img-top img-fluid mx-auto detail-image" [src]="image.previewUri" alt="Card image">
            <div class="card-block">
                <i class="fa fa-copyright" aria-hidden="true"></i> {{image.copyright}}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><h4 class="card-title">{{image.title}}</h4></li>
                <li class="list-group-item">{{image.caption}}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-xs-left">
            <div class="card-header text-xs-center">
                Details
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Artist:</b> <span class="float-xs-right">{{image.artist}}</span></li>
                <li class="list-group-item"><b>Created:</b> <span class="float-xs-right">{{image.dateCreated}}</span></li>
                <li class="list-group-item"><b>Submitted:</b> <span class="float-xs-right">{{image.dateSubmitted}}</span></li>
                <li class="list-group-item"><b>Width:</b> <span class="float-xs-right">{{image.width}} px</span></li>
                <li class="list-group-item"><b>Height:</b> <span class="float-xs-right">{{image.height}} px</span></li>
            </ul>    
            <div class="card-block text-xs-center">
                <b>Usage Restrictions</b><br/>
                {{image.usageRestrictions}}
            </div>
            <div class="card-footer text-muted text-xs-center">
                <a [href]="image.sourceUri" class="btn btn-primary" target="_blank">View image @ Getty Images</a>                
            </div>
        </div>
     </div>
</div>